.titles{
    text-align: center;
}
.contents{
    font-family: 'Noto Sans KR';
}

.lh6{
    font-family: 'Noto Sans KR2';
    font-size: 18px;
    font-weight: bold;
}
.main-title{
    font-family: 'Noto Sans KR2';
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}