#title{
    text-align: center;
    font-size: 100px;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    font-family: 'Dancing Script';
}
.titles{
    text-align: center;
}
.contents{
    font-family: 'Noto Sans KR';
    width: 90%;
    display: block;
    margin: 5% auto;
    padding: 5% 10%;
    box-shadow: 5px -5px 15px 3px #a86363;
}

.lh6{
    font-family: 'Noto Sans KR2';
    font-size: 18px;
    font-weight: bold;
}
.main-title{
    font-family: 'Noto Sans KR2';
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}